@media (min-width: 768px) {
    .container {
      padding: 1rem 10%;
    }

    .desktop-only {
        display: flex;
      }
    
      .mobile {
        display: none;
      }
    
      nav {
        position: relative;
        box-shadow: 0 7px 9px 0 rgba(0, 0, 0, 0.2);
        height: 98px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
    
      .top-nav {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        background: #272a31;
      }
    
      .user-login a {
        color: #fff;
        font-size: 0.7rem;
        margin-left: 1rem;
      }
    
      .social-icons img {
        float: right;
        margin-right: 1rem;
        width: 3.5%;
      }
    
      .brand img {
        position: relative;
        width: 36%;
        cursor: pointer;
        z-index: 500;
      }

      .headline-section {
        background-image: url(../images/desktop-bg-fa2.png);
        width: 100%;
        height: 100vh;
        margin-bottom: 40px;
      }
    
      .title {
        margin-top: 9%;
      }
    
      #close {
        display: none;
      }
    
      .main-menu {
        display: flex;
        background: none;
        width: 100%;
        justify-content: flex-end;
        padding-right: 5%;
        margin-top: -15px;
      }
    
      .main-links {
        display: flex;
      }
    
      .register-btn a {
        color: #fff;
      }
    
      .main-links li {
        margin-right: 55px;
      }
    
      .active a {
        color: #ed5342;
        font-weight: 400;
      }
    
      .main-links li a {
        font-size: 1.2rem;
        font-weight: 300;
      }
    
      .main-menu ul li a {
        color: #272a31;
      }
    
      .highlight {
        border-style: solid;
        border-color: #ed5342;
        border-width: 4px;
        padding: 0.5rem;
      }
    
      #on {
        color: #ed5342;
        font-weight: 400;
      }
    
      .menu-links {
        display: flex;
      }
    
      h1 {
        font-size: 5.6rem;
        font-weight: 900;
        line-height: 5rem;
        color: transparent;
        letter-spacing: 1px;
      }
    
      .box {
        width: 65%;
        height: 120px;
        padding: 2%;
        border: solid 0.4rem #fff;
      }
    
      .box p {
        font-size: 1.2rem;
      }

      .date h3 {
        font-size: 1.5rem;
      }
    
      .venue p {
        font-size: 1.2rem;
        padding-bottom: 2rem;
      }
    
      h2 {
        font-size: 3rem;
      }
    
      .mobile-menu img {
        display: none;
      }
    
      #logo {
        margin-top: 19px;
      }
    
      .program {
        background-size: 20px 20px;
        height: 550px;
        margin-top: -50px;
      }
    
      .program h2 {
        margin-top: 60px;
        font-size: 1.8rem;
      }
    
      .program .line {
        width: 70px;
        left: 49%;
      }
    
      .grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
        margin-top: 15%;
      }
    
      .program-item {
        display: flex;
        flex-direction: column;
        height: auto;
        padding-left: 20px;
        margin-top: -90px;
      }
    
      .event-pic img {
        width: 95%;
      }
    
      .abt-common img {
        margin-left: 50px;
        width: 40%;
      }
    
      .common img {
        width: 40%;
      }
    
      .program-item .top img {
        width: 80%;
      }
    
      .top {
        flex-basis: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
}